<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post" action="register">
    {% csrf_token %}
    first name: <input type="text" name="first_name"><br>
    last name: <input type="text" name="last_name"><br>
    username: <input type="text" name="username"><br>
    email: <input type="email" name="email"><br>
    password: <input type="password" name="password"><br>
    confirm password: <input type="password" name="confirm_password"><br>
    <input type="submit">
</form>
<div>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
</body>
</html>